/*---------------------------- Fuentes ---------------------------*/
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=IM+Fell+Double+Pica+SC&family=Modern+Antiqua&family=Skranji:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=IM+Fell+Double+Pica+SC&family=Modern+Antiqua&family=Skranji:wght@400;700&family=Tiny5&display=swap');

/*---------------------------- Estilos de cuerpo ----------------------- */
body {
    margin: 0px;
    background-color: black;
}
.cuerpo_index{
    display: flex;
    align-items: center;
    flex-direction: column;
}
/*--------------------------- Estilo de encabezado----------------------- */

.img_encabezado{
    background-image: url(./imagenes/la_caberna2.jpeg);
    background-size: 100% 100%; 
    background-position: center center; 
    width: 100%;
}

.Encabezado{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10% 90%;
    position: relative;
    background: rgba(0, 0, 0, 0.706);
    margin: 0px;
    width: 100%;
    min-height: 200px;
    height: 75vh;
    gap: .5em;
}
.barra_navegacion{
    display: flex;
    background: rgba(33, 34, 37, 0.842);
    justify-content: space-around;
    align-items: center; /* Centra verticalmente */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 8vh;
}

.nav-button {
    color: white;
    text-shadow: 2px 2px 6px black;
    background: none;
    border: 2px solid transparent;
    padding: 9px 30px; /* Más padding horizontal */
    text-decoration: none;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    transition: all 0.3s ease;
    flex: 1; /* Permite que los botones ocupen espacio igual */
    text-align: center;
    margin: 0 10px; /* Espacio entre botones */
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2vw;
}

.nav-button:hover {
    color: white;
    background: rgba(255, 255, 255, 0.2);
    transition: all .4s ease;
}

.Encabeazado_Text{
    grid-column: 1;
    grid-row: 2;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 0 1vw;
    margin-left: 3vw;
}
.titulo_encabezado{
    font-family: "DM Serif Display", serif;
    color: white;
    text-shadow: 
        0 0 10px rgba(0, 0, 0, 0.7), /* Brillo principal */ 
        0 0 20px rgba(255, 255, 255, 0.4); /* Efecto de luz más difuso */    
    font-size: 15vh;
    margin: 0px;
}
.parrafo_encabezado{
    font-size: 6vh;
    color: white;
    text-shadow: 
        0 0 10px rgba(0, 0, 0, 0.8), /* Brillo principal */ 
        0 0 20px rgba(255, 255, 255, 0.6); /* Efecto de luz más difuso */   
    margin: 0px;
}
.Seccion_Buttons{
    grid-column: 2;
    grid-row: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 1vw;
}
.img_logo {
    position: relative;
    opacity: .8;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 2vh;
    border: 3px solid white;
    box-shadow: 
    0 0 10px rgba(0, 0, 0, 0.8), /* Brillo principal */ 
    0 0 20px rgba(255, 255, 255, 0.6); /* Efecto de luz más difuso */  
}

.boton_registro {
    padding: 3px;
    margin: 1vw;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 0.3vw;
    font-family: "IM Fell Double Pica SC", serif;
    cursor: pointer;
    color: white;
    transition: all 500ms;
    font-size: clamp(12px, 2vw, 40px);
    position: relative;
    overflow: hidden;
    outline: 3px solid #6719c6;
    background-color: #82b0d900;
    width: 30vw;
    height: 45px;
}
  
.boton_registro:hover {
    color: #ffffff;
    transform: scale(.9);
    outline: 3px solid #6719c6;
    box-shadow: 4px 5px 17px -4px #6719c6;
}
  
.boton_registro::before {
    content: "";
    position: absolute;
    left: -50px;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #6719c692;
    transform: skewX(45deg);
    z-index: -1;
    transition: width 1000ms;
}
  
.boton_registro:hover::before {
    width: 250%;
}
  
.boton_inicio_sesion {
    padding: 3px;
    margin: 1vw;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 0.3vw;
    font-family: "IM Fell Double Pica SC", serif;
    cursor: pointer;
    color: white;
    transition: all 500ms;
    font-size: clamp(12px, 2vw, 40px);
    position: relative;
    overflow: hidden;
    outline: 3px solid #2bced3;
    background-color: #2bcdd300;
    width: 30vw;
    height: 45px;
}
  
.boton_inicio_sesion:hover {
    color: #ffffff;
    transform: scale(0.9);
    outline: 3px solid #2bced3;
    box-shadow: 4px 5px 17px -4px #2bced3;
}
  
.boton_inicio_sesion::before {
    content: "";
    position: absolute;
    left: -50px;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #23939794;
    transform: skewX(45deg);
    z-index: -1;
    transition: width 1000ms;
}
  
.boton_inicio_sesion:hover::before {
    width: 250%;
}

/*-------------------------- Estilo De Introduccion --------------------*/
.introduccion{
    display: flex;
    justify-content: center;
    background-color: #B28BD9;
    position: relative;
    width: 100%;
    height: 40vh;
}
.aprender_jugar{
    display: flex;
    justify-content: center;
    background-color: #674BA6;
    position: relative;
    width: 100%;
    height: 40vh;

}
.comunidad{
    display: flex;
    justify-content: center;
    background-color: #B28BD9;
    position: relative;
    width: 100%;
    height: 40vh;
}